version: '3.8'

services:
  db:
    image: postgres
    container_name: my-postgres
    environment:
      POSTGRES_PASSWORD: pass123
    networks:
      - my-network

  app:
    build: .
    container_name: my-running-app
    ports:
      - "1234:1234"
    depends_on:
      - db
    networks:
      - my-network

networks:
  my-network:
    driver: bridge